@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Satoshi;
    src: url("./fonts/Satoshi-Variable.ttf");
    font-weight: 500;
}

:root {
  --background: #f9f8f9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #150627;
    --foreground: #f9f8f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Satoshi, Helvetica, sans-serif;
}
